@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
*, ::before, ::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Poppins, sans-serif;
  background: #0e112b;
}

main {
  position: relative;
  width: 100%;
}

.menu {
  position: relative;
  width: 30px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}

.menu .hamburger {
  display: block;
  position: absolute;
  left: 0;
  height: 3px;
  width: 30px;
  background: #f1f1f1;
  border-radius: 3px;
}

header {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #111841;
  z-index: 1000;
}

header .logo {
  color: #f1f1f1;
  text-decoration: none;
  font-size: 1.3em;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}

header #open {
  display: block;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

header #open .hamb1 {
  top: 5px;
  -webkit-transform: rotate(0);
          transform: rotate(0);
  -webkit-animation: hamb1-anim .5s ease-in-out backwards;
          animation: hamb1-anim .5s ease-in-out backwards;
}

header #open .hamb2 {
  top: 12px;
  -webkit-animation: hamb2-anim .5s ease-in-out forwards;
          animation: hamb2-anim .5s ease-in-out forwards;
}

header #open .hamb3 {
  top: 20px;
  -webkit-animation: hamb3-anim .5s ease-in-out forwards;
          animation: hamb3-anim .5s ease-in-out forwards;
}

header #close {
  display: none;
  -webkit-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
}

header #close .hamb1 {
  top: 50%;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-animation: hamb1-close-anim .5s ease-in-out forwards;
          animation: hamb1-close-anim .5s ease-in-out forwards;
}

header #close .hamb2 {
  top: 50%;
  -webkit-transform: rotate(315deg);
          transform: rotate(315deg);
  -webkit-animation: hamb2-close-anim .5s ease-in-out forwards;
          animation: hamb2-close-anim .5s ease-in-out forwards;
}

.sidebar {
  position: fixed;
  right: -100%;
  -webkit-transition: 0.5s ease-in;
  transition: 0.5s ease-in;
  top: 0;
  width: 100%;
  height: 100%;
  background: #111841;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 100;
}

.sidebar ul {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.sidebar ul li {
  list-style: none;
  margin: 5px 0;
}

.sidebar ul li a {
  color: #f1f1f1;
  font-size: 1.3em;
  font-weight: 400;
  text-decoration: none;
}

.sidebar ul li a:hover {
  color: #3f8ffc;
}

.sidebar.active {
  right: 0;
}

.content {
  position: relative;
  width: 100%;
  padding: 40px 20px;
  color: #f1f1f1;
}

@-webkit-keyframes hamb1-anim {
  from {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes hamb1-anim {
  from {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes hamb2-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes hamb2-anim {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes hamb3-anim {
  from {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@keyframes hamb3-anim {
  from {
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  to {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
}

@-webkit-keyframes hamb1-close-anim {
  from {
    top: 0%;
    right: -50%;
  }
  to {
    top: 50%;
    right: 0;
  }
}

@keyframes hamb1-close-anim {
  from {
    top: 0%;
    right: -50%;
  }
  to {
    top: 50%;
    right: 0;
  }
}

@-webkit-keyframes hamb2-close-anim {
  from {
    top: 0%;
    left: -50%;
  }
  to {
    top: 50%;
    left: 0;
  }
}

@keyframes hamb2-close-anim {
  from {
    top: 0%;
    left: -50%;
  }
  to {
    top: 50%;
    left: 0;
  }
}

@media only screen and (min-width: 600px) {
  header {
    padding: 20px 60px;
  }
  .sidebar {
    width: 50%;
    right: -50%;
  }
  .content {
    padding: 40px 60px;
  }
}

@media only screen and (min-width: 800px) {
  header {
    padding: 20px 80px;
  }
  .sidebar {
    width: 30%;
    right: -30%;
  }
  .content {
    padding: 40px 80px;
  }
}

@media only screen and (min-width: 1050px) {
  header {
    padding: 20px 100px;
  }
  .sidebar {
    width: 20%;
    right: -20%;
  }
  .content {
    padding: 40px 100px;
  }
}

.content {
  color: #f1f1f1;
}

.search-poke-form {
  max-width: 500px;
  width: 70%;
  min-width: 300px;
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f1f1f1;
  border-radius: 5px;
  /*
    button{
        display: block;
        position: relative;
        height: 40px;
        width: 40px;
        //background: rgba(green,0.5);
        border: none;
        outline: none;
        border-radius: 50%;
    
        .icon{
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;
            height: 40px;
            background:$text-main-color;
            border-radius:40px;
            display: flex;
            justify-content: center;
            align-items: center;
            //z-index: 1000;
            cursor: pointer;
    
            &::before{
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                border: 3px solid $darkblue;
                border-radius: 50%;
                transform: translate(-4px, -4px);
            }
            &::after{
                content: "";
                position: absolute;
                width: 3px;
                height: 12px;
                background-color: $darkblue;
                transform: translate(6px, 6px) rotate(315deg);
            }
        }
    }*/
  /*Animation d'input*/
}

.search-poke-form .inp-group {
  width: 100%;
}

.search-poke-form label {
  position: absolute;
  top: 50%;
  color: darkblue;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 20px;
  -webkit-transition: all 0.3s ease-in;
  transition: all 0.3s ease-in;
}

.search-poke-form input {
  background: #f1f1f1;
  border: none;
  outline: none;
  width: 60%;
  width: 100%;
  padding: 5px;
  margin-left: 15px;
  border-radius: 5px;
  font-size: 1em;
  font-family: Poppins, sans-serif;
}

.search-poke-form:focus-within label,
.search-poke-form.active-input label {
  top: -15px;
  color: #f1f1f1;
}

.search-poke-form .loader {
  position: absolute;
  top: 250px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  width: 200px;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search-poke-form .loader .point {
  margin: 0px 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background: #f1f1f1;
  -webkit-animation: point-anim 0.3s alternate infinite;
          animation: point-anim 0.3s alternate infinite;
}

.search-poke-form .loader .point:nth-child(1) {
  -webkit-animation-delay: 0.1s;
          animation-delay: 0.1s;
}

.search-poke-form .loader .point:nth-child(2) {
  -webkit-animation-delay: 0.3s;
          animation-delay: 0.3s;
}

.search-poke-form .loader .point:nth-child(3) {
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}

@-webkit-keyframes point-anim {
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

@keyframes point-anim {
  100% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
}

.container {
  width: 100%;
  max-width: 1100px;
  height: auto;
  margin: 40px auto;
}

.container ul {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.container ul li {
  width: 200px;
  height: auto;
  padding: 10px;
  margin: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.container ul li h5 {
  font-size: 1.3em;
  font-weight: 600;
  color: #062017;
}

.container ul li p {
  font-size: 1em;
  font-weight: 500;
  color: #111841;
}
/*# sourceMappingURL=main-style.css.map */