@import "./style.scss";
$darkblue : darkblue;
.content{
    color: $text-main-color;
}
.search-poke-form{
    max-width: 700px; //max width else width:70%
    width: 70%;
    min-width: 300px;
    margin: 0 auto;
    //border-style:dotted;
    position: relative;
    display: flex;
    //@at-root
    height: 40px;
    background: $text-main-color;
    border-radius: 5px;
    overflow: hidden;

    .inp-group{
        width: 100%;
    }
    label{
        position: absolute;
        top: 50%;
        color: $darkblue;
        transform: translateY(-50%);
        margin-left: 15px;
        
    }
    input{
        background: $text-main-color;
        border: none;
        outline: none;
        width: 60%;
        width: 100%;
        padding: 15px;
    
    }
    button{
        display: block;
        position: relative;
        height: 40px;
        width: 40px;
        //background: rgba(green,0.5);
        border: none;
        outline: none;
        border-radius: 50%;

        .icon{
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;
            height: 40px;
            background:$text-main-color;
            border-radius:40px;
            display: flex;
            justify-content: center;
            align-items: center;
            //z-index: 1000;
            cursor: pointer;
    
            &::before{
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                border: 3px solid $darkblue;
                border-radius: 50%;
                transform: translate(-4px, -4px);
            }
            &::after{
                content: "";
                position: absolute;
                width: 3px;
                height: 12px;
                background-color: $darkblue;
                transform: translate(6px, 6px) rotate(315deg);
            }
        }
    }
    .clear{
        display: block;
        position: absolute;
        top: calc(50% + 5px);
        transform: translateY(-50%);
        width: 20px;
        height: 20px;
        right: 60px;
        cursor: pointer;
        visibility: hidden;
        z-index: 1000;

        &::before{
            position: absolute;
            content: '';
            right: 50%;
            width: 1px;
            height: 20px;
            background: $darkblue;
            transform: rotate(315deg);
        }
        &::after{
            position: absolute;
            content: '';
            right: 50%;
            width: 1px;
            height: 20px;
            background: $darkblue;
            transform: rotate(45deg);
        }
    }
}

