@import "./style.scss";
$darkblue : darkblue;
$bg-color: #0e112b;

.content{
    color: $text-main-color;
}

.search-poke-form{
    max-width: 500px; //max width else width = 70%
    width: 70%;
    min-width: 300px;
    margin: 0 auto;
    position: relative;
    display: flex;
    background: $text-main-color;
    border-radius: 5px;

    .inp-group{
        width: 100%;
    }
    label{
        position: absolute;
        top: 50%;
        color: $darkblue;
        transform: translateY(-50%);
        left: 20px;
        transition: all 0.3s ease-in;
        
    }
    input{
        background: $text-main-color;
        border: none;
        outline: none;
        width: 60%;
        width: 100%;
        padding: 5px;
        margin-left: 15px;
        border-radius: 5px;
        font-size: 1em;
        font-family: Poppins, sans-serif;
    
    }
    /*
    button{
        display: block;
        position: relative;
        height: 40px;
        width: 40px;
        //background: rgba(green,0.5);
        border: none;
        outline: none;
        border-radius: 50%;
    
        .icon{
            position: absolute;
            top: 0;
            right: 0;
            width: 40px;
            height: 40px;
            background:$text-main-color;
            border-radius:40px;
            display: flex;
            justify-content: center;
            align-items: center;
            //z-index: 1000;
            cursor: pointer;
    
            &::before{
                content: "";
                position: absolute;
                width: 20px;
                height: 20px;
                border: 3px solid $darkblue;
                border-radius: 50%;
                transform: translate(-4px, -4px);
            }
            &::after{
                content: "";
                position: absolute;
                width: 3px;
                height: 12px;
                background-color: $darkblue;
                transform: translate(6px, 6px) rotate(315deg);
            }
        }
    }*/
    
    /*Animation d'input*/
    &:focus-within label,
    &.active-input label{
        top : -15px;
        color: $text-main-color;
    }

    //Animate the loader
    .loader{
        position: absolute;
        top: 250px;
        left: 50%;
        transform: translateX(-50%);
        width: 200px;
        height: 100px;
        display: flex;
        justify-content: center;
        align-items: center;

        .point{
            margin: 0px 5px;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            background: $text-main-color;
            animation: point-anim 0.3s alternate infinite;
            &:nth-child(1){
                animation-delay: 0.1s;
            }
            &:nth-child(2){
                animation-delay: 0.3s;
            }
            &:nth-child(3){
                animation-delay: 0.2s;
            }
        }
        @keyframes point-anim {
            100%{
                transform: translateY(-30px);
            }
        }
    }
}

.container{
    width: 100%;
    max-width: 1100px;
    height: auto;
    margin: 40px auto;

    ul{
        list-style-type: none;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;

        li{
            width: 200px;
            height: auto;
            padding: 10px;
            margin: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;

            h5{
                font-size: 1.3em;
                font-weight: 600;
                color: #062017;
            }
            p{
                font-size: 1em;
                font-weight: 500;
                color: $bg-color-light;
            }
        }
    }
}
